---
const today = new Date();
---

<footer class="bg-white dark:bg-black py-4 mt-auto">
	<div class="container mx-auto px-4 text-center">
		<p class="text-gray-600 dark:text-gray-300">
			&copy; {today.getFullYear()} by datnguyennnx
		</p>
	</div>
</footer>
